body {
    background-color: rgb(255, 255, 245);
    color: rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 50px;
}

h1 {
    background-color: rgba(200, 0, 0, 0.5);
    color: rgb(255, 255, 245);
    font-size: 30px;
    padding: 10px;
    text-align: left;
}

h2 {
    color: rgba(200, 0, 0, 0.5);
    font-size: 22px;
    padding: 0px
}

ul {
    list-style-type: square;
}

.recipe-list {
    color: rgba(200, 0, 0, 0.5);
    list-style: none;
    margin-left: -48px;
    margin-top: -10px;
}

li {
    padding: 2px
}

.recipe-list-item {
    padding: 6px;
    margin-top: 8px;
}

.recipe-link {
    background-color: rgba(200, 0, 0, 0.5);
    color: rgb(255, 255, 245);
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.recipe-link.return {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.recipe-link:visited {
    color: rgb(255, 255, 245);
}

.recipe-link:hover {
    background-color: rgba(200, 0, 0, 0.6);
    color: rgb(255, 255, 235);
}

.recipe-link:active {
    background-color: rgba(200, 0, 0, 0.6);
}

.recipe-image {
    height: 350px;
}

.homepage-box {
    width: 800px;
    margin: 0 auto;
}

.text-body {
    box-sizing: border-box;
    border: 1px dashed rgba(200, 0, 0, 0.5);
    padding: 15px;
    padding-bottom: 25px;
    
}